.menu-slide-out {
  animation: menu-slide-out 0.7s;
  animation-fill-mode: forwards;
}

.menu-slide-in {
  animation: menu-slide-in 0.7s;
  animation-fill-mode: forwards;
}

@keyframes menu-slide-out {
  from {
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(100%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes menu-slide-in {
  from {
    transform: translateX(100%);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
  }
}
