@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
@import "~swiper/css/scrollbar";

body,
#__next,
html {
  height: 100vh;
  height: -webkit-fill-available;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}
